@keyframes dropdown {
    0% {
        transform: translate(-50%, -1000px);
    }

    /* 
    50% {
        transform: translate(-50%, -40%);
    } */

    100% {
        transform: translate(-50%, -50%);
    }

}

@keyframes goup {
    0% {
        transform: translate(-50%, -50%);
    }


    100% {
        transform: translate(-50%, -1000px);
    }

}

/* .ReactModal__Content {
    animation: dropDown;
    animation-duration: 2s;
} */

.ReactModal__Content {
    opacity: 0;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px 0 rgba(0, 0, 0, 0.08);


}

@media only screen and (max-width: 400px) {
    .ReactModal__Content {
        max-height: 400px;

    }
}


.ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
}

.ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 150ms;
    animation: dropdown;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.ReactModal__Content--before-close {
    /* opacity: 0;
    transition: opacity 150ms 500ms; */
    animation: goup;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}