html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: #3e3c3c;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}


@media only screen and (max-width: 450px) {
  html {
    font-size: 54%;
  }
}